
@{
    ViewBag.Title = "Index";
}

<a name="list" title="Contact List">
    <div class="jumbotron" onclick="$('#list').collapse('toggle')" title="Click to expand/collapse section." style="cursor: pointer">
        List of contacts
    </div>

    <div class="collapse in" id="list">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">List of Contacts</div>
                </div>
                <div class="panel-body">
                    Hello World
                </div>
            </div>
        </div>
    </div>
</a>