#wrapper {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
}

#sidebar-wrapper {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    width: 0;
    display: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    position: fixed;
    top: 54px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media(min-width:768px) {
    #sidebar-wrapper {
        display: block;
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        left: -210px;
    }

    #page-content-wrapper {
        left: 250px;
    }

    #wrapper.toggled #page-content-wrapper {
        left: 40px;
    }
}

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            cursor: pointer;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

#wrapper.toggled .sidebar-nav li a {
    margin-right: 40px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

#page-content-wrapper > .container-fluid > a, #page-content-wrapper > .container-fluid > a:active, #page-content-wrapper > .container-fluid > a:hover {
    text-decoration: none;
    color: #111;
}