html, body {
    overflow-x: hidden;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.menu-icon {
    height: 32px;
    width: 32px;
    margin-right: 4px;
    padding: 4px;
    border-radius: 2px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.menu-icon:hover {
    background: rgba(255, 255, 255, .2);
}
@media(min-width:768px) {
    .mobileonly {
        display: none
    }
}
.navbar-inverse {
    background-color: inherit;
    border-color: transparent;
}