@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <p>Welcome to the applications homepage. Here will be some content for the home page.</p>
</div>

<div class="container-fluid">

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title
            </div>
        </div>
        <div class="panel-body">
            Body
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title
            </div>
        </div>
        <div class="panel-body">
            Body
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>

</div>