@{
    ViewBag.Title = "Index";
}

<a name="section1" title="Section 1">
    <div class="jumbotron">
        <p>Welcome to the applications homepage. Here will be some content for the home page.</p>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
    </div>
</a>

<a name="section2" title="Section 2">
    <div class="jumbotron">
        <p>Another section of content</p>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Title
                </div>
            </div>
            <div class="panel-body">
                Body
            </div>
            <div class="panel-footer">
                Footer
            </div>
        </div>
    </div>
</a>