@{
    ViewBag.Title = "Index";
}

<a name="panel_1" title="Panel 1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 1
            </div>
        </div>
        <div class="panel-body">
            Body 1
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_2" title="Panel 2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 2
            </div>
        </div>
        <div class="panel-body">
            Body 2
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_3" title="Panel 3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 3
            </div>
        </div>
        <div class="panel-body">
            Body 3
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_4" title="Panel 4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 4
            </div>
        </div>
        <div class="panel-body">
            Body 4
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_5" title="Panel 5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 5
            </div>
        </div>
        <div class="panel-body">
            Body 5
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_6" title="Panel 6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 6
            </div>
        </div>
        <div class="panel-body">
            Body 6
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_7" title="Panel 7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 7
            </div>
        </div>
        <div class="panel-body">
            Body 7
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_8" title="Panel 8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 8
            </div>
        </div>
        <div class="panel-body">
            Body 8
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_9" title="Panel 9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 9
            </div>
        </div>
        <div class="panel-body">
            Body 9
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>
<a name="panel_10" title="Panel 10">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Title 10
            </div>
        </div>
        <div class="panel-body">
            Body 10
        </div>
        <div class="panel-footer">
            Footer
        </div>
    </div>
</a>