@{
    ViewBag.Title = "Index";
}

@section leftsidebar {
    <li>
        <a href="//www.google.com/">Google</a>
    </li>
    <li>
        <a href="//www.yahoo.com/">Yahoo</a>
    </li>
}


<h2>Index</h2>